.ots-widget-wrapper {
    box-sizing: border-box;
}

.ots-widget-wrapper *,
.ots-widget-wrapper *:before,
.ots-widget-wrapper *:after {
    box-sizing: inherit;
}


.ots-widget-wrapper .hidden, .ots-widget-container .hidden {
    display: none !important;
}


.ots-widget-container {
    position: relative;
    width: 90vw;
    height: 90vh;
    min-width: 720px;
    min-height: calc(720px/(1024/760));
    margin: 35px auto;
    border: 1px solid rgba(87, 193, 228, .85);
    border-radius: 6px;
    padding: 15px;
}

.ots-widget-container.display-text-chat {
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkitalign-items: center;
    align-items: center;
}

.ots-widget-container.viewing-shared-screen {
    margin-bottom: 85px;
}

.ots-widget-container .video-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.ots-widget-container .video-container.partial {
    width: 65%;
}

.ots-widget-container .chat-container {
    width: 30%;
}

.ots-icon-check {
    background-image: url("https://assets.tokbox.com/solutions/images/text-chat-check.png");
    background-repeat: no-repeat;
    background-position: center center;
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (min--moz-device-pixel-ratio:1.5),
only screen and (min-device-pixel-ratio:1.5) {
    .ots-icon-check {
        background-image: url("https://assets.tokbox.com/solutions/images/text-chat-check@2x.png");
        background-size: 27px 21px;
    }
}

/* Aspect Ratio for Screen Sharing */
.ots-aspect-ratio {
    height: 54vw;
    min-width: 600px;
    min-height: 360px;
    padding: 0;
}

.ots-aspect-ratio > .video-container {
    position: absolute;
}

.ots-widget-container .shared-screen {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
}

.ots-widget-container .shared-screen canvas {
    top: 0;
    left: 0;
}

.ots-widget-container .sharing-mask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.8);
}

.ots-widget-container .sharing-mask-text {
    color: lightblue;
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
}

.ots-widget-container .video-wrap {
    border-radius: 6px;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.ots-widget-container .video-wrap.secondary-video .OT_publisher {
    position: absolute;
    top: 0;
}

.ots-widget-container .video-background {
    background-image: url("https://assets.tokbox.com/solutions/images/widget-background.png");
    background-size: contain;
}

.ots-widget-container .primary-video {
    width: 100%;
    height: 100%;
    display: flex !important;
}

.ots-widget-container .local-controls {
    height: 60px;
    width: 100%;
    background-image: url("https://assets.tokbox.com/solutions/images/widget-control-bar.png");
    background-size: contain;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 6px 6px;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    z-index: 1001;
}


/* Move down so as to not cover canvas */
.ots-widget-container .local-controls.viewing-shared-screen {
    height: 65px;
    bottom: -60px;
}

.ots-widget-container .secondary-video {
    position: absolute;
    bottom: 75px;
    right: 30px;
    width: 174px;
    height: 150px;
    z-index: 11;
}

.ots-widget-container .secondary-video.active {
    border: 1px solid rgba(255, 255, 255, .8);
}

.ots-widget-container .remote-controls {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 12;
}

.ots-widget-container .ots-video-control {
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.ots-widget-container .ots-video-control.circle {
    border: 1px solid rgba(128, 128, 128, .5);
    border-radius: 50%;
}

.ots-widget-container .ots-video-control.circle:hover {
    border: 1px solid rgba(128, 128, 128, 1);
}

.ots-widget-container .ots-video-control.call {
    background-color: rgba(87, 193, 228, .85);
    background-image: url("https://assets.tokbox.com/solutions/images/icon-call.png");
    margin: 0 15px;
}

.ots-widget-container .ots-video-control.call:hover {
    background-color: rgba(87, 193, 228, 1);
}

.ots-widget-container .ots-video-control.call.active {
    background-color: red;
    background-image: url("https://assets.tokbox.com/solutions/images/icon-hang-up.png");
}

.ots-video-control.text-chat {
    margin-left: 10px;
    background-image: url("https://assets.tokbox.com/solutions/images/icon-message.png");
}

.ots-video-control.text-chat.disabled,
.ots-video-control.text-chat:hover {
    background-image: url("https://assets.tokbox.com/solutions/images/icon-message.png");
    background-color: brown;
}

.ots-video-control.text-chat.active {
    background-color: brown;
    background-image: url("https://assets.tokbox.com/solutions/images/icon-message.png");
}

.ots-video-control.archiving {
    margin-left: 10px;
    background-image: url("https://assets.tokbox.com/solutions/images/icon-not-recording.png");
}

.ots-video-control.archiving.active,
.ots-video-control.archiving:hover {
    background-image: url("https://assets.tokbox.com/solutions/images/icon-recording.png");
}

.ots-video-control.share-screen {
    margin-left: 10px;
    background-image: url("https://assets.tokbox.com/solutions/images/icon-screen-share.png");
}

.ots-video-control.share-screen.disabled,
.ots-video-control.share-screen:hover {
    background-image: url("https://assets.tokbox.com/solutions/images/icon-screen-share.png");
}

.ots-video-control.share-screen.active {
    background-color: red;
    background-image: url("https://assets.tokbox.com/solutions/images/icon-screen-share.png");
}

.ots-video-control.video {
    background-image: url("https://assets.tokbox.com/solutions/images/icon-video.png");
}

.ots-video-control.video.disabled,
.ots-video-control.video:hover {
    background-image: url("https://assets.tokbox.com/solutions/images/icon-no-video.png");
}

.ots-video-control.audio {
    background-image: url("https://assets.tokbox.com/solutions/images/icon-audio.png");
}

.ots-video-control.audio.disabled,
.ots-video-control.audio:hover {
    background-image: url("https://assets.tokbox.com/solutions/images/icon-no-audio.png");
}

.ots-video-control.microphone {
    background-image: url("https://assets.tokbox.com/solutions/images/icon-mic.png");
}

.ots-video-control.microphone.disabled,
.ots-video-control.microphone:hover {
    background-image: url("https://assets.tokbox.com/solutions/images/icon-muted-mic.png");
}


/* Screensharing styles */

.ots-ss-modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.1);
}

.ots-ss-modal .ots-ss-modal-body {
    position: relative;
    width: 456px;
    height: 286px;
    margin: 100px auto 0;
    padding: 62px 70px;
    background: #ffffff;
    border: 1px solid #c7c7c7;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.35);
    color: #282828;
}

.ots-ss-modal .ots-ss-modal-body .ots-ss-modal-title span {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
}

.ots-ss-modal .ots-ss-modal-body .ots-ss-modal-title.with-icon {
    position: relative;
    padding-left: 70px;
}

.ots-ss-modal .ots-ss-modal-body .ots-ss-modal-title.with-icon i {
    position: absolute;
    top: 50%;
    left: 0;
    width: 60px;
    height: 41px;
    margin-top: -23px;
    max-width: 60px;
    max-height: 42px;
}

.ots-ss-modal .ots-ss-modal-body p {
    font-size: 14px;
    margin: 20px 0;
}

.ots-ss-modal .ots-ss-modal-body .ots-btn-install {
    display: block;
    width: 316px;
    height: 44px;
    margin: 0 auto;
    text-align: center;
    line-height: 44px;
    color: #fff;
    font-size: 14px;
    background: #259de8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.ots-ss-modal .ots-ss-modal-body .ots-cancel-btn-install {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 25px;
    height: 25px;
    background-image: url("https://assets.tokbox.com/solutions/images/icon-oval-281-x.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    .ots-ss-modal .ots-ss-modal-body .ots-cancel-btn-install {
        background-image: url("https://assets.tokbox.com/solutions/images/icon-oval-281-x@2x.png");
        background-size: 25px 25px;
    }
}

.ots-icon-share-large {
    background-image: url("https://assets.tokbox.com/solutions/images/icon-screenshare-large.png");
    background-repeat: no-repeat;
    background-position: center center;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    .ots-icon-share-large {
        background-image: url("https://assets.tokbox.com/solutions/images/icon-screenshare-large@2x.png");
        background-size: 60px 41px;
    }
}

/*Annotation Styles*/

.ots-annotation-toolbar-container {
    position: fixed;
    top: 125px;
    right: 0;
    width: 40px;
    z-index: 1000;
}

.ots-annotation-toolbar-container> div input {
    display: block;
    top: 0 !important;
    transform: none !important;
}

.ots-annotation-toolbar-container> div input#OT_colors {
    width: 30px;
    margin-right: 5px !important;
    margin-left: 5px !important;
    padding: 0;
}

.ots-annotation-toolbar-container> div .OT_subpanel,
.ots-annotation-toolbar-container> div .color-picker {
    position: absolute;
    top: 0;
    right: 40px;
    padding-left: 0 !important;
}

.ots-annotation-toolbar-container> div .OT_subpanel {
    left: -40px;
    overflow: hidden;
}

.ots-annotation-toolbar-container> div .OT_subpanel> div {
    top: 0 !important;
    transform: none !important;
}

.ots-annotation-toolbar-container> div .color-picker {
    left: -30px;
}

.ots-annotation-toolbar-container> div .color-picker .color-choice {
    display: block !important;
    height: 20px !important;
    width: 20px !important;
}


/* Archiving */


/* The Modal (background) */

.ots-archiving-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
    text-align: center;
}


/* The Close Button */

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #aaaaaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

.download {
    width: 68px;
    height: 17px;
    object-fit: contain;
    font-family: Muli;
    font-size: 14px;
    color: #0099cc;
}

.archive-name {
    font-family: helvetica, arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin: 10px auto;
}

.archive-details {
    width: 90px;
    height: 16px;
    object-fit: contain;
    font-family: Muli;
    font-size: 13px;
    color: #000000;
}

.date-time {
    width: 76px;
    height: 80px;
    object-fit: contain;
    opacity: 0.5;
    font-family: Muli;
    font-size: 13px;
    text-align: right;
    color: #202a2f;
}

.archive-information {
    width: 300px;
    height: 80px;
    object-fit: contain;
    font-family: Muli;
    font-size: 13px;
    line-height: 1.2;
    color: #000000;
}